<form method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <br>
      <select id="sBrand"class="form-control" title="Select Brand">
        <option disabled selected>Brand</option>
        {{#each brands}}
          <option>{{this.brand_name}}</option>
        {{/each}}
      </select>
    </div>
    <br>
    <div class="form-group col-md-6">
      <select id="sModel" class="form-control" title="Select Model">
        <option disabled selected>Model</option>
        {{#each models}}
        <option>{{this.model_name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group col-md-6">
      <select id="sBody" class="form-control" title="Select Body">
        <option disabled selected>Body</option>
        {{#each bodies}}
        <option>{{this.body_name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group col-md-6">
      <select id="sFuel" class="form-control" title="Select Fuel">
        <option disabled selected>Fuel</option>
        {{#each fuels}}
        <option>{{this.fuel_name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group col-md-6">
      <select id="sDrive" class="form-control" title="Select Drive">
        <option disabled selected>Drive</option>
        {{#each drives}}
        <option>{{this.drive_name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group col-md-6">
      <select id="sCylinders" class="form-control" title="Select Cylinders">
        <option disabled selected>Cylinders</option>
        {{#each cylinders}}
        <option>{{this.cylinders_count}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group col-md-6">
      <select id="sEngineType" class="form-control" title="Select Engine Type">
        <option disabled selected>Engine Type</option>
        {{#each engine_types}}
        <option>{{this.engine_type_name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group col-md-6">
      <select id="sEngineVolume" class="form-control" title="Select Engine Volume">
        <option disabled selected>Engine Volume</option>
        {{#each engine_volumes}}
        <option>{{this.volume}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group col-md-6">
      <div class="custom-file-input">
        <input id="attach" type="button" value="Upload picture">
        <input type="file">
        <input id="txt" type="text">
      </div>
    </div>
    <div class="form-group col-md-6">
      <input id="ePrice" type="text" class="form-control" title="Enter Price" placeholder="Enter Price">
    </div>
    <div class="form-group col-md-6">
      <input id="eYear" type="number" class="form-control" title="Enter Year" placeholder="Enter Year">
    </div>
    <div class="form-group col-md-6">
      <textarea id="wDescription" class="form-control" title="Write a car description" style="resize: none; height:131px; margin-top:-48px"
        placeholder="Write Description"></textarea>
    </div>
    <div class="form-group col-md-6">
      <select id="sFuelIndex" class="form-control" title="Select Fuel Index">
        <option disabled selected>Fuel Index</option>
        {{#each fuel_indices}}
        <option>{{this.index_name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group col-md-6">
      <input id="eHp" type="text" class="form-control" title="Enter Hp" placeholder="Enter Hp">
    </div>
  </div>

  <div id="add_but">
    <button id="add" type="submit" class="btn btn-info">Add a new car</button>
  </div>

</form>
<div class="down-div">

</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
  $(document).ready(function () {
    $('.custom-file-input input[type="file"]').change(function (e) {
      $(this).siblings('input[type="text"]').val(e.target.files[0].name);
    });
  });
</script>