<div>
    <div class="container">
        <style>
            .sale{
                background-color: teal;
                color: white;
                border: none;
                padding: 2px;
                width: 120px;
                height: 30px;
            }
        </style>
        <h2>Orders List</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Order Id</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                {{#each order_list}}
                <tr class="info">
                    <td>{{this.id}}</td>
                    <td>{{'car.car_model.car_brand.brand_name'}}</td>
                    <td>{{'car.car_model.model_name'}}</td>
                    <td>{{'user.user_login'}}</td>
                    <td>{{'user.user_phone'}}</td>
                    <td>
                        <form method="POST">
                            <input name="id" value="{{this.id}}" type="hidden">
                            <input name="id_product" value="{{'car.id'}}" type="hidden">
                            <input name="quant" value="{{'car.quantity'}}" type="hidden">
                            <input  type="submit" formaction="/order/sale" class="sale" value="Send product">
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>