<head>
    {{!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> --}}
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<main role="main">
    {{#each product}}
    <div id="product-card" class="card">
        <hr style="height: 1px; background-color:rgb(161, 161, 161); color:rgb(161, 161, 161); border:none;">
        <div class="row">
            <aside class="col-sm-7 border-right">
                <article class="gallery-wrap">
                    <div class="img-big-wrap">
                        <div> <a href="#"><img id="big-picture" src="/img/auto/{{this.picture_link}}"></a>
                        </div>
                    </div> <!-- slider-product.// -->
                </article> <!-- gallery-wrap .end// -->
            </aside>

            <aside class="col-sm-5 border-left">
                <article class="card-body p-5">
                    <h3 class="title mb-3">{{'car_model.car_brand.brand_name'}} {{'car_model.model_name'}}</h3>
                    <br>
                    <dl class="item-property">
                        <dt class="descript">Марка</dt>
                        <dd class="descript">
                            {{'car_model.car_brand.brand_name'}}
                        </dd>
                    </dl>
                    <dl class="param param-feature">
                        <dt class="descript">Модель</dt>
                        <dd class="descript">{{'car_model.model_name'}}</dd>
                    </dl> <!-- item-property-hor .// -->
                        <dt class="descript">Год выпуска</dt>
                        <dd class="descript">{{this.years}}</dd>
                    </dl> <!-- item-property-hor .// -->
                    <dl class="param param-feature">
                        <dt class="descript">Страна производитель</dt>
                        <dd class="descript">{{'car_model.car_brand.car_country.country_name'}}</dd>
                    </dl> <!-- item-property-hor .// -->

                    <form method="POST" action="/content/buy">
                                        <input id="hidden-field" name="id_car" type="hidden" value="{{this.id}}">
                                        <button type="submit" class="btn btn-lg btn-primary text-uppercase" > Купить </button>
                                    </form>

                </article> <!-- card-body.// -->
            </aside> <!-- col.// -->

        </div> <!-- row.// -->
        <hr style="height: 1px; background-color:rgb(161, 161, 161); color:rgb(161, 161, 161); border:none;">
        <div id="prod-descript" class="row">
            <div class="col-md-3">
                <dl class="item-property">
                    <dt class="descript">Тип двигателя</dt>
                    <dd class="descript">
                        {{'engine_type.engine_type_name'}}
                    </dd>
                </dl>

            </div>
            <div class="col-md-3">
                <dl class="param param-feature">
                        <dt class="descript">Кузов</dt>
                        <dd class="descript">{{'car_body.body_name'}}</dd>
                    </dl> <!-- item-property-hor .// -->
            </div>
            <div class="col-md-3">
                <dl class="param param-feature">
                        <dt class="descript">Тип топлива</dt>
                        <dd class="descript">{{'car_fuel.fuel_name'}}</dd>
                    </dl> <!-- item-property-hor .// -->
            </div>
            <div class="col-md-3">
                <dl class="param param-feature">
                        <dt class="descript">Привод</dt>
                        <dd class="descript">{{'car_drive.drive_name'}}</dd>
                    </dl> <!-- item-property-hor .// -->
            </div>
        </div>
        <div id="prod-descript" class="row">
            <div class="col-md-3">
                <dl class="item-property">
                    <dt class="descript">Двигатель</dt>
                    <dd class="descript">
                        {{'car_cylinder.cylinders_marking'}}
                    </dd>
                </dl>

            </div>
            <div class="col-md-3">
                <dl class="param param-feature">
                        <dt class="descript">Объём двигателя</dt>
                        <dd class="descript">{{'engine_volume.volume'}}</dd>
                    </dl> <!-- item-property-hor .// -->
            </div>
            <div class="col-md-3">
                <dl class="param param-feature">
                        <dt class="descript">Мощность</dt>
                        <dd class="descript">{{this.hp}}</dd>
                    </dl> <!-- item-property-hor .// -->
            </div>
            <div class="col-md-3">
                <dl class="param param-feature">
                        <dt class="descript">Топливо</dt>
                        <dd class="descript">{{'fuel_index.index_name'}}</dd>
                    </dl> <!-- item-property-hor .// -->
            </div>
        </div>

        <div id="prod-descript" class="row">
            <div class="col-md-10">
                <dl class="param param-feature">
                        <dt class="descript">Описание</dt>
                        <dd class="descript">{{this.descript}}</dd>
                    </dl> <!-- item-property-hor .// -->
            </div>
        </div>

    </div> <!-- card.// -->


    </div>
    {{/each}}
</main>


<div class="down-div">

</div>